---
rules:
  braces:
    level: error
    max-spaces-inside: 1
  brackets:
    level: error
    max-spaces-inside: 1
  colons: enable
  commas: enable
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  document-start: enable
  empty-lines:
    max: 2
  indentation:
    spaces: consistent
  key-duplicates: enable
  line-length: disable
  trailing-spaces: enable
  truthy:
    allowed-values: ["true", "false", "on"]
