---
# Wi-Fi SSID and password
wifi_ssid: CHANGE_ME
wifi_password: CHANGE_ME

# API encryption key
api_key_0a1a: CHANGE_ME
api_key_0e46: CHANGE_ME
api_key_1312: CHANGE_ME
api_key_xiao_ir_mate: CHANGE_ME

# OTA password
ota_password_0a1a: CHANGE_ME
ota_password_0e46: CHANGE_ME
ota_password_1312: CHANGE_ME

# fallback AP password
ap_password_0a1a: CHANGE_ME
ap_password_0e46: CHANGE_ME
ap_password_1312: CHANGE_ME
